@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins' ,sans-serif;
}

.search{
    height: 40vh;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
.search img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
}
.search .content{
    color: #fff;
    position: relative;
    z-index: 2;
    text-align: center;
}
.search h1{
    font-size: 40px;
    font-weight: 600;
    margin-top: 20px;
}
.search p{
    font-size: 24px;
    margin-top: 8px;
}
.search .search-box{
    height: 55px;
    margin: 45px 0;
    position: relative;
}
.search-box i{
    position: absolute;
    color: #8d8d8d;
    font-size: 20px;
    left: 20px;
    top: 50%;
    transform: translateY(-50%);
}
input, button, i{
    outline: none;
    border: none;
    border-radius: 5px;
}
.search-box input{
    width: 100%;
    height: 100%;
    font-size: 18px;
    padding-left: 55px;
}
.gallery{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.gallery .images{
    gap: 15px;
    columns: 5 340px;
    margin-top: 40px;
    max-width: 95%;
}
.images .card{
    display: flex;
    overflow: hidden;
    position: relative;
    list-style: none;
    margin-bottom: 14px;
    border-radius: 4px;
}
.images .card .details{
    position: absolute;
    bottom: -100px;
    width: 100%;
    padding: 15px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: bottom .1s ease;
    background: linear-gradient(to top, rgba(0,0,0,0.7), transparent);
}
.images .card:hover .details{
    bottom: 0;
}
.card .details button{ 
    padding: 3px 8px;
    font-size: 18px;
    cursor: pointer;
}
.photographer{ 
    color: #fff;
    display: flex;
    align-items: center;
}
.photographer i{
    font-size: 20px;
    margin-right: 10px;
}
.photographer span{
    font-size: 18px;
}
.images img{
    width: 100%;
}
.gallery .load-more{
    margin: 50px 0;
    font-size: 20px;
    background: #8a6cff;
    padding: 12px 27px;
    cursor: pointer;
}
.gallery .load-more.disabled{
    opacity: 0.7;
    pointer-events: none;
}
.lightbox{
    position: fixed;
    z-index: 5;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.65);
    display: none;
}
.lightbox.show{
    display: block;
}
.lightbox .wrapper{
    position: absolute;
    left: 50%;
    top: 50%;
    background: #fff;
    border-radius: 5px;
    width: 100%;
    max-width: 850px;
    padding: 20px;
    transform: translate(-50%, -50%);
}
.preview{
    display: flex;
    margin-top: 25px;
    justify-content: center;
}
.wrapper .preview .img{
    max-height: 65vh;
    max-width: 90vh;
}
.preview .img {
    display: flex;
    justify-content: center;
    align-items: center;
    max-height: 65vh;
    max-width: 90vh;
    overflow: hidden;
    background: #fff;
}
.preview .img img{
    max-height: 100%;
    max-width: 100%;
    object-fit: contain;
}
.wrapper header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
header .photographer{
    color: #333;
}
header .photographer i{
    font-size: 20px;
}
header .photographer span{
    font-size: 18px;
}
header .buttons i{
    display: inline-block;
    width: 40px;
    height: 40px;
    font-size: 20px;
    background: #8a6cff;
    color: #fff;
    text-align: center;
    line-height: 40px;
}
.buttons i:last-child{
    margin-left: 10px;
    background: #6c757d;
}